:root {
  --primary-color: #123deb;
  --second-color: #3f4a52;
  --third-color: white;
  --fourth-color: #420099;
  --fifth-color: #ededed;

  /* title */
  --ff-1: 'votorantim_sansbold', sans-serif;
  /* text */
  --ff-2: 'votorantim_sansregular', sans-serif;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
}
body {
  font-size: 1.6rem;
}

body,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  font-family: var(--ff-2);
}
/* ----------
REUSED 
----------*/
.animation {
  animation-name: topdown;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}
@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ---------------HEADER------------ */
.navbar {
  height: 10vh;
}

.container {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
  position: relative;
  border-bottom: 2px solid var(--second-color);
}

.logo {
  width: 16rem;
  height: 5rem;
}

.navbar-right {
  display: flex;
}

.nav {
  gap: 12rem;
}

.nav li a {
  font-size: 3.5rem;
  font-family: var(--ff-1);
  color: var(--second-color);
}
.navbar li:is(:hover, :focus) {
  background: var(--primary-color);
  padding: 15px 20px;
}
.navbar li a:is(:hover, :focus) {
  color: #fff;
}
/* -------------------
      HOME
------------------ */

.logo-page {
  width: 100vw;
  height: 40rem;
  background-image: url(./img/banner-about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: start start;
  margin-top: -1px;
}

.logo-page h1 {
  font-family: var(--ff-1);
  font-size: 4rem;
  text-align: center;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.4);
  color: var(--fifth-color);
  border-radius: 20px;
  padding: 9px;
}

.logo-page span {
  color: rgb(15, 211, 232);
}

.logo-h2 {
  max-width: 80%;
  margin-left: 10%;
  font-weight: 400;
  font-family: var(--ff-2);
  color: var(--second-color);
  font-size: 2.2rem;
}

/* SOBRE NÓS */

.about {
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h1 {
  font-family: var(--ff-1);
  color: var(--second-color);
  max-width: 45ch;
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: 600;
  font-size: 3.2rem;
}

/*-----------
PRODUCTS
--------- */
.service {
  background: var(--fifth-color);
  padding: 5vh;
  text-align: center;
}

.service h2 {
  font-family: var(--ff-1);
  font-size: 3rem;
  font-weight: 600;
  color: var(--primary-color);
}

.service h1 {
  font-size: 4.2rem;
  font-weight: lighter;
}

.product-title {
  text-align: center;
  font-size: 4rem;
  font-family: var(--ff-1);
  color: var(--primary-color);
  font-weight: 750;
}
.order-product {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
}
/*-----------
 VERGALHAO
---------- */
.vergalhao {
  position: relative;
  text-align: center;
  color: var(--second-color);
  z-index: 99;
  padding: 10px 20px;
  background: var(--fifth-color);
  background-size: cover;
  height: 50px;
  width: 19rem;
  font-size: 3rem;
  border: 1px solid var(--second-color);
}
.vergalhao-product {
  position: absolute;
  background: var(--primary-color);
  color: var(--second-color);
  border: 5px;
  opacity: 0;
  transition: 0.01s;
  display: flex;
}
.vergalhao:is(:hover, :focus) {
  background: var(--primary-color);
  color: var(--third-color);
  font-weight: 600;
}
.vergalhao-active {
  opacity: 1;
  background: var(--fifth-color);
}
.vergalhao-product img {
  width: 40%;
  margin-left: 10%;
}
.vergalhao-product h2 {
  margin-left: 3rem;
  font-size: 2.8rem;
  width: 40%;
  letter-spacing: 0.3px;
  font-family: var(--ff-1);
}
.vergalhao-product span {
  font-size: 5rem;
  font-weight: 900;
  color: var(--primary-color);
}
/*-----------
 TARUGO
---------- */
.tarugo {
  position: relative;
  text-align: center;
  color: var(--second-color);
  z-index: 99;
  padding: 10px 20px;
  background: var(--fifth-color);
  background-size: cover;
  height: 50px;
  width: 19rem;
  font-size: 3rem;
  border: 1px solid var(--second-color);
}
.tarugo-product {
  position: absolute;
  background: var(--primary-color);
  color: var(--second-color);
  border: 5px;
  opacity: 0;
  transition: 0.01s;
  display: flex;
}
.tarugo:is(:hover, :focus) {
  background: var(--primary-color);
  color: var(--third-color);
  font-weight: 600;
}
.tarugo-active {
  opacity: 1;
  background: var(--fifth-color);
}
.tarugo-product img {
  width: 40%;
  margin-left: 10%;
}
.tarugo-product h2 {
  margin-left: 3rem;
  font-size: 2.8rem;
  width: 40%;
  letter-spacing: 0.3px;
  font-family: var(--ff-1);
}
.tarugo-product span {
  font-size: 5rem;
  font-weight: 900;
  color: var(--primary-color);
}
/*----------
 LINGOTE-----------
*/
.lingote {
  position: relative;
  text-align: center;
  color: var(--second-color);
  z-index: 99;
  padding: 10px 20px;
  background: var(--fifth-color);
  background-size: cover;
  height: 50px;
  width: 19rem;
  font-size: 3rem;
  border: 1px solid var(--second-color);
}
.lingote-product {
  position: absolute;
  background: var(--primary-color);
  color: var(--second-color);
  border: 5px;
  opacity: 0;
  transition: 0.01s;
  display: flex;
}
.lingote:is(:hover, :focus) {
  background: var(--primary-color);
  color: var(--third-color);
  font-weight: 600;
}
.lingote-active {
  opacity: 1;
  background: var(--fifth-color);
}
.lingote-product img {
  width: 40%;
  margin-left: 10%;
}
.lingote-product h2 {
  margin-left: 3rem;
  font-size: 2.8rem;
  width: 40%;
  letter-spacing: 0.3px;
  font-family: var(--ff-1);
}
.lingote-product span {
  font-size: 5rem;
  font-weight: 900;
  color: var(--primary-color);
}
/* ---------
PERFIL
------- */
.folha {
  position: relative;
  text-align: center;
  color: var(--second-color);
  z-index: 99;
  padding: 10px 20px;
  background: var(--fifth-color);
  background-size: cover;
  height: 50px;
  width: 19rem;
  font-size: 3rem;
  border: 1px solid var(--second-color);
}
.folha-product {
  position: absolute;
  background: var(--primary-color);
  color: var(--second-color);
  border: 5px;
  opacity: 0;
  transition: 0.01s;
  display: flex;
}
.folha:is(:hover, :focus) {
  background: var(--primary-color);
  color: var(--third-color);
  font-weight: 600;
}
.folha-active {
  opacity: 1;
  background: var(--fifth-color);
}
.folha-product img {
  width: 40%;
  margin-left: 10%;
}
.folha-product h2 {
  margin-left: 3rem;
  font-size: 2.8rem;
  width: 40%;
  letter-spacing: 0.3px;
  font-family: var(--ff-1);
}
.folha-product span {
  font-size: 5rem;
  font-weight: 900;
  color: var(--primary-color);
}
/* FOOTER */
.footer {
  text-align: center;
  align-items: end;
  z-index: -1;
  /* transform: translateY(450px); */
}

/*----------------]
 CONTACT
 ------------------- */
.contact-image {
  background-image: url(./img/banner-aplicabilidade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}

.contact-image {
  margin-top: -8px;
}

.contact {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 6rem;
}

.formcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  backdrop-filter: blur(4px);
}

.footer-form {
  width: 100%;
  display: block;
}

.formcontainer {
  width: 50%;
  font-size: 1.125rem;
}

.formcontainer label,
.formcontainer input,
.formcontainer textarea,
.formcontainer button {
  font-size: 1.5rem;
  color: var(--second-color);
  display: block;
  width: 100%;
  background: var(--fifth-color);
  border: 2px solid var(--fourth-color);
  border-radius: 4px;
}

.formcontainer label {
  text-align: start;
  color: var(--second-color);
  line-height: 1;
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.formcontainer input,
.formcontainer textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color, box-shadow 0.2s;
  border: 1px solid var(--primary-color);
}

.formcontainer textarea {
  min-height: 20rem;
  resize: vertical;
}

.formcontainer input:is(:hover, :focus),
.formcontainer textarea:is(:hover, :focus) {
  outline: none;
  border-color: var(--second-color);
  box-shadow: 0 0 0 3px var(--fourth-color);
}

.formcontainer button {
  display: block;
  padding: 1rem;
  /* padding-left: 3rem; */
  max-width: 50%;
  background-color: var(--fourth-color);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: 0.2s;
}

.formcontainer button:is(:hover, :focus) {
  outline: 0;
  background: var(--fourth-color);
  color: #fff;
}

.contact-image h1 {
  color: var(--primary-color);
  font-size: 5rem;
  text-align: center;
}

.social h2 {
  font-weight: 400;
  font-size: 2.6rem;
  max-width: 30ch;
}

.share {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.share a {
  height: 6rem;
  width: 4rem;
  line-height: 5rem;
  border-radius: 50%;
  margin: 1rem;
  font-size: 3rem;
  text-align: center;
  padding: 0;
  color: var(--fourth-color);
}

/* FOOTER */
.footer {
  position: relative;
  text-align: center;
  font-family: var(--ff-2);
  font-size: 2rem;
  color: var(--second-color);
  margin-top: 10px;
}

.footer span {
  font-weight: 700;
  font-family: var(--ff-1);
  color: var(--primary-color);
}

/* -------------RESPONSIVE----------- */
/* MEDIA QUERIES */

/* 1024PX */
@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
  .product img {
    max-width: 400px;
  }
  .contact-image {
    margin-bottom: 4%;
    margin-top: 4rem;
  }
}

/* 768 PX */
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .social {
    display: none;
  }
  .video {
    height: 400px;
    width: 600px;
  }
  .service {
    padding: 30px;
  }
  .about {
    background: var(--fifth-color);
    background-size: 100vw;
    text-align: center;
  }
  .product img {
    max-width: 300px;
  }
  .contact-image {
    margin-top: 36px;
  }

  .logo-h2 {
    margin-bottom: 7%;
  }
  .logo-page {
    margin-top: -4px;
  }
}

/* 425 */
@media (max-width: 440px) {
  html {
    font-size: 45%;
  }
  .product img {
    display: none;
  }
  .video {
    height: 260px;
    width: 370px;
  }
  .logo-h2 {
    margin-bottom: 35%;
  }

  .logo-page {
    margin-top: -18px;
  }

  .contact-image {
    margin-top: -23px;
  }
  .folha-product {
    flex-direction: column;
  }
  .folha-product img {
    width: 80%;
  }
  .folha-product h2 {
    width: 80%;
  }
  .tarugo-product {
    flex-direction: column;
  }
  .tarugo-product img {
    width: 80%;
  }
  .tarugo-product h2 {
    width: 80%;
  }
  .lingote-product {
    flex-direction: column;
  }
  .lingote-product img {
    width: 80%;
  }
  .lingote-product h2 {
    width: 80%;
  }
  .vergalhao-product {
    flex-direction: column;
  }
  .vergalhao-product img {
    width: 80%;
  }
  .vergalhao-product h2 {
    width: 80%;
  }
}

/* MENU TOGGLE */
@media (max-width: 440px) {
  .navbar {
    height: 30%;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }
  .navbar-nav {
    gap: 1px;
  }
  .navbar-nav li {
    background: var(--fifth-color);
    padding: 2rem;
    border: 1px solid var(--second-color);
  }
  .navbar-nav li:is(:hover, :focus) {
    background: var(--primary-color);
    color: #ededed;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 40%;
  }
  .video {
    height: 200px;
    width: 300px;
  }
  .logo-page {
    margin-top: -18px;
  }
  .contact-image {
    margin-top: -20px;
  }
}
