<!-- home.html -->
<div class="about">
  <h1>
    Transformamos alumínio em possibilidades. Somos sustentáveis, somos
    responsáveis. E contamos tudo isso para a sociedade.
  </h1>
  <iframe
    class="video"
    width="800"
    height="500"
    src="https://www.youtube.com/embed/v52ruyWp3bA"
    title="Centro de Soluções e Serviço da CBA"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p>{{title}}</p>
</div>
