<div class="logo-page">
  <h1>O melhor do alumínio vai além do <span>alumínio</span></h1>
</div>
<h2 data-aos="fade-up" data-aos-duration="1000" class="logo-h2">
  CBA – Companhia Brasileira de Alumínio Da cidade de Alumínio para o alumínio
  de todas as cidades. Somos uma produtora de alumínio totalmente integrada em
  sua cadeia produtiva, aliamos ao nosso processo a energia 100% renovável,
  alcançando assim posição de liderança em participação de mercado no Brasil e
  nas tendências globais de descarbonização.
  <br /><br />
  Produzimos alumínio do início ao fim, tudo de forma sustentável. O alumínio é
  um dos principais metais para um mundo mais verde devido à sua reciclabilidade
  infinita. Ele está no transporte que te move, pelas janelas da sua casa, no
  seu celular e computador. Essas são parcerias duradouras que transformam
  matéria-prima em soluções do dia a dia.
</h2>
<script>
  AOS.init()
</script>
