<!-- about.html -->
<div class="service">
  <h2 class="animation">Mercado e Produtos</h2>
  <h1 class="animation">
    O Alumínio inspira nossa flexibilidade na busca de soluções para os desafios
    mais complexos da sociedade.
  </h1>
</div>

<h1 class="product-title">PRODUTOS</h1>

<div class="order-product">
  <h2 class="folha">Folha</h2>
  <h2 class="lingote">Lingote</h2>
  <h2 class="tarugo">Tarugo</h2>
  <h2 class="vergalhao">Vergalhão</h2>
</div>
<div class="folha-product">
  <img src="../../img/folha.jpg" alt="folha-image" />
  <h2>
    <span>Folhas</span>
    <br /><br />
    As Folhas de Alumínio CBA estão nas embalagens, tampas e membranas, trazendo
    praticidade, resistência e proteção para alimentos e produtos farmacêuticos.
    São amplamente utilizadas em trocadores de calor, aplicações em veículos,
    refrigeração e sistemas de ar condicionado.
  </h2>
</div>
<!--------------- LINGOTE --------------->
<div class="lingote-product">
  <img src="../../img/lingotes.jpg" alt="lingote-image" />
  <h2>
    <span>Lingote</span>
    <br /><br />
    Produzimos lingotes destinados à refusão, utilizados como matéria-prima em
    indústrias de fundição, laminação e desoxidação. Os lingotes CBA são obtidos
    a partir da solidificação do alumínio em moldes permanentes, chamados
    coquilhas, com resfriamento controlado.
  </h2>
</div>
<!--------------- TARUGO ------------>
<div class="tarugo-product">
  <img src="../../img/tarugo1.png" alt="tarugo-image" />
  <h2>
    <span>Tarugo</span>
    <br /><br />
    Os tarugos fabricados pela CBA apresentam melhor acabamento superficial e
    estrutura interna mais fina e uniforme do que os convencionais. Utilizamos a
    técnica de air-casting Wagstaff AirSlip®, com tratamentos de
    desgaseificação, filtragem e refino de grãos.
  </h2>
</div>
<!--------------- VERGALHÃO ------------>
<div class="vergalhao-product">
  <img src="../../img/vergalhao.jpg" alt="vergalhao-image" />
  <h2>
    <span>Vergalhao</span>
    <br /><br />
    Os vergalhões CBA são usados para fazer cabos e fios. Fabricamos vergalhões
    usando o processo Properzi de fundição centrífuga, que fornece uma seção
    transversal aproximadamente circular. No processo produtivo, o alumínio
    líquido é transformado em barras, comprimido no processo de laminação e
    depois enrolado.
  </h2>
</div>

<!-- JAVASCRIPT -->
<script>
  const folha = document.querySelector('.folha')
  const folhaProduct = document.querySelector('.folha-product')
  const lingote = document.querySelector('.lingote')
  const lingoteProduct = document.querySelector('.lingote-product')
  const tarugo = document.querySelector('.tarugo')
  const tarugoProduct = document.querySelector('.tarugo-product')
  const vergalhao = document.querySelector('.vergalhao')
  const vergalhaoProduct = document.querySelector('.vergalhao-product')

  folha.addEventListener('click', () => {
    folhaProduct.classList.toggle('folha-active')
    lingoteProduct.classList.remove('lingote-active')
    tarugoProduct.classList.remove('tarugo-active')
    vergalhaoProduct.classList.remove('vergalhao-active')
  })
  lingote.addEventListener('click', () => {
    lingoteProduct.classList.toggle('lingote-active')
    folhaProduct.classList.remove('folha-active')
    tarugoProduct.classList.remove('tarugo-active')
    vergalhaoProduct.classList.remove('vergalhao-active')
  })
  tarugo.addEventListener('click', () => {
    tarugoProduct.classList.toggle('tarugo-active')
    folhaProduct.classList.remove('folha-active')
    vergalhaoProduct.classList.remove('vergalhao-active')
    lingoteProduct.classList.remove('lingote-active')
  })
  vergalhao.addEventListener('click', () => {
    vergalhaoProduct.classList.toggle('vergalhao-active')
    folhaProduct.classList.remove('folha-active')
    tarugoProduct.classList.remove('tarugo-active')
    lingoteProduct.classList.remove('lingote-active')
  })
</script>
