<!-- about.html -->
<div class="service">
  <h2 class="animation">Mercado e Produtos</h2>
  <h1 class="animation">
    O Alumínio inspira nossa flexibilidade na busca de soluções para os desafios
    mais complexos da sociedade.
  </h1>
</div>
<div class="product">
  <img src="../../img/products-thumb1.jpg" alt="image" class="service-image" />
  <h2 class="produc-title animation">
    <span>Qualidade e Parceria</span>
    <br />
    <br />
    Superamos o desafio de oferecer produtos com excelência e qualidade. Hoje
    vamos além. Atuamos em toda a cadeia de valor do alumínio, da extração da
    bauxita até a transformação do metal. Investimos em parcerias para criar os
    produtos que estão no cotidiano das pessoas.
    <br /><br />
    Vamos além dos produtos Primários e Transformados. Estamos próximos dos
    negócios de nossos clientes, inspirando a competitividade no uso do alumínio
    em múltiplas soluções para a sociedade. Conectamos você ao mundo de
    possibilidades do alumínio.
  </h2>
</div>
